## Assignment

### Question 1

Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database can be defined as an organized collection of structured information, or data, typically stored electronically in a computer system, and its is usually controlled by a database management system (DBMS). Thus, put together; the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database.

SQL is a programming language used by nearly all relational databases to query, manipulate, and define data, and to provide access control.

while NoSQL is a nonrelational database that allows unstructured and semistructured data to be stored and manipulated (in contrast to a relational database, which defines how all data inserted into the database must be composed). The growth of application couple with more complexity offered NoSQL popularity in the era.

### Question 2

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL referred toa data definition language is a computer language used to create and modify the structure of database objects in a database.

Create ==> This command builds a new table and has a predefined syntax. The CREATE statement syntax is
*    CREATE TABLE if not exists test01.table_no1(c1 INT, c2 VARCHAR(40), c3 FLOAT, c4 VARCHAR(20), c5 INT);
    
Drop ==> A drop command is used to delete objects such as a table, index or view. A DROP statement cannot be rolled back, so once an object is destroyed, there’s no way to recover it. Drop statement syntax is:
*    DROP test01 table_no1;
    
Alter ==> An alter command modifies an existing database table. This command can add up additional column, drop existing columns and even change the data type of columns involved in a database table. An alter command syntax is:
*    ALTER test01 table_no1 ADD PRIMARY KEY (c1);
    
Truncate ==> Similar to DROP, the TRUNCATE statement is used to quickly remove all records from a table. However, unlike DROP that completely destroys a table, TRUNCATE preserves its full structure to be reused later. Truncate statement syntax is:
*    TRUNCATE test01 table_no1;

### Question 3
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML means data manipulation language (DML) which is a family of computer languages including commands permitting users to manipulate data in a database. This manipulation involves inserting data into database tables, retrieving existing data, deleting data from existing tables and modifying existing data. DML is mostly incorporated in SQL databases.

SELECT: This command is used to retrieve rows from a table. The syntax is:
*   SELECT [column name(s)] from [table name] where [conditions]. SELECT is the most widely used DML command in SQL.
*   SELECT c1 FROM tabel_no1 WHERE c1>2;

UPDATE: This command modifies data of one or more records. An update command syntax is:
*   UPDATE [table name] SET [column name = value] where [condition];
*   UPDATE table_no1 SET c1 = 3 WHERE c2 = "YINKA";

NSERT: This command adds one or more records to a database table. The insert command syntax is:
*   INSERT INTO [table name] [column(s)] VALUES [value(s)];
*   INSERT INTO test01.table_no1 VALUES(40, 'YINKA', 3.14, 'GBADAMOSI', 1000);

DELETE: This command removes one or more records from a table according to specified conditions. Delete command syntax is: 
*    DELETE FROM [table name] where [condition];
*    DELETE FROM test01 WHERE c1 = 4;

### Question 4

Q4. What is DQL? Explain SELECT with an example.
The DQL mean data query language statements can be used in order to query the data and information contained in schema objects. The goal of the DQL Commands is to return a schema relation on the basis of the query supplied to them.
SELECT command to extract data from a database in order to perform actions on it. The syntax is:
*  SELECT c1 FROM test01 WHERE c2 = "YINKA";

### Question 5

Q5. Explain Primary Key and Foreign Key.

A primary key generally focuses on the uniqueness of the table. It is a column or a set of columns that uniquely distinguishes every row in the database. It means it should not have any duplicate value. Also, it doesn’t contain a NULL value.

while foreign key is generally used to build a relationship between the two tables. The major purpose of the foreign key is to sustain data integrity between two separate instances of an entity.

### Question 6

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test01")
mycursor.execute("CREATE TABLE if not exists test01.table_no1(c1 INT, c2 VARCHAR(40), c3 FLOAT, c4 VARCHAR(20), c5 INT)")
mydb.close()

cursor() method helps to execute the query and fetch the records from the database. The cursor plays a very important role in executing the query. 

execute() method executes the given database operation (query or command). The parameters found in the tuple or dictionary params are bound to the variables in the operation.

Q1. What is a database? Differentiate between SQL and NoSQL databases.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Q4. What is DQL? Explain SELECT with an example.
Q5. Explain Primary Key and Foreign Key.
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Q7. Give the order of execution of SQL clauses in an SQL query.

### Question 7

Q7. Give the order of execution of SQL clauses in an SQL query.

The SQL order of execution defines the order in which the clauses of a query are evaluated. Some of the most common query challenges people run into could be easily avoided with a clearer understanding of the SQL order of execution, sometimes called the SQL order of operations. Understanding SQL query order can help you diagnose why a query won’t run, and even more frequently will help you optimize your queries to run faster.

Below it the order of execution of SQL Clauses:

            FROM
            WHERE
            GROUP BY
            HAVING
            SELECT
            ORDER BY
            LIMIT

In [ ]:
#### THE END #####