## Question1
   * 1. They can be indexed
   * 2. They are ordered
   * 3. They can contain duplicate items 
   * 4. They are immutable

## Question2
The two methods of tuple are:
* a. count()
* b. index()

In [51]:
##Example to show the above mentionded methods
tup = ("Abioye", "Oyatoye", "Data", "Science", 1, 2, 3, "Data", "Data")
## use case for count
print(tup.count("Data"))  ## output number of time an item occur in tuple

# use case for index
print(tup.index("Data"))  ## index of the first instance of the string

# It is because tuple is ordered and unchangeable(immutable) that is why their use case is to store data that would not be changed

3
2

## Question3

Set, does not accept duplicate

In [ ]:
list=[1,1,12,1,3,1,4,2,1,2,2,2,3,2,4,3,1,3,2,3,3,3,4,4,1,4,2,4,3,4,4]

to_set = set(list)
print(to_set)

## Question4

Union() method produce a new set containing all elements in both sets while Update() method add all the element in setb to seta permanently.
See examples below:

In [46]:
seta = {"abioye", "elijah", "monday",4,8}
setb = {"house", "mansion", "village", (1,2,4,5,"manod")}

In [47]:
seta.union(setb) ##it add the other set without conversion

{(1, 2, 4, 5, 'manod'),
 4,
 8,
 'abioye',
 'elijah',
 'house',
 'mansion',
 'monday',
 'village'}

In [48]:
seta  ## to confirm the elment where not permanently added

{4, 8, 'abioye', 'elijah', 'monday'}

In [49]:
seta.update(setb)

In [50]:
seta  ##for update() method

{(1, 2, 4, 5, 'manod'),
 4,
 8,
 'abioye',
 'elijah',
 'house',
 'mansion',
 'monday',
 'village'}

## Question 5

Dictionary is python container use for storing data paired with unique keys which standands as identifiers for the stored data. Dictionary is mutable and ordered.

In [54]:
## An exomple of dictionary
dict1 = {"book": "the white lotus", "bestplayer": "messi", "motivational": "Ronaldo", "room": 38}
print(dict1)

{'book': 'the white lotus', 'bestplayer': 'messi', 'motivational': 'Ronaldo', 'room': 38}

## Question 6
Yes, we can create nested dictionary

In [55]:
##One level nested dictionary
dict2 = {"book": "the white lotus", "football":{"bestplayer": "messi", "motivational": "Ronaldo", "room": 38}}

In [58]:
dict2["football"]["bestplayer"]  ## stepped into the dictionary one by one

'messi'

## Question 7

In [65]:
dict1 = {"language": "Python", "course":"Data Science Masters"}

In [66]:
dict1.setdefault("topics", ["Python", "Machine Learning", "Deep Learning"])

['Python', 'Machine Learning', 'Deep Learning']

In [67]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

## Questioin 8

In [68]:
## three method of viewing!!!!
dict1 = {'Sport': "Cricket", "Teams": ['India', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [69]:
dict1.keys() ## method 1 to veiw keys

dict_keys(['Sport', 'Teams'])

In [71]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

In [73]:
dict1.get('Sport')

'Cricket'